<section class="hero text-gray-100">
  <div>
    <h2 class="text-4xl font-bold tracking-light text-gray-200 sm:text-5xl md:text-6xl">
      Low cost hosting upfront
    </h2>
    <h3 class="mt-4 text-gray-100 font-light">
      Pay a flat low monthly rate on all your hosting plans and save big!
    </h3>
  </div>
</section>

<section class="pricing bg-gray-100">
  <h2 class="text-2xl text-center font-bold">Pricing Plans</h2>
  <div class="pricing-plans mt-8">
    <div class="internal-wrapper">
      <div class="col col-1">
        <h3 class="text-xl text-center font-bold mt-4 uppercase">Free</h3>
        <div class="p-4">
          <h4 class="text-lg font-semibold">What's Included:</h4>
          <ul>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              Standard Performance
            </li>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              1 website
            </li>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              25 GB storage
            </li>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              10 databases
            </li>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              Unmetered bandwidth
            </li>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              Daily Backups
            </li>
          </ul>
          <div class="mt-8">
            <button class="buy-button min-w-full">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="col col-2">
        <div [ngClass]="[isGreenPricingBadgeEnabled ? 'green-pricing-badge' : 'yellow-pricing-badge']"
             class="pricing-badge">
          <div class="text-center font-bold">Best Value <span class="font-light">(Save <span
            class="font-semibold">30%</span>)</span></div>
        </div>
        <h3 class="text-2xl text-center font-bold mt-4 uppercase">Pro</h3>
        <div class="p-4">
          <h4 class="text-lg font-semibold">What's Included:</h4>
          <ul>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              Increased processing power
            </li>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              25 websites
            </li>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              75 GB storage
            </li>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              50 databases
            </li>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              Unmetered bandwidth
            </li>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              Daily Backups
            </li>
          </ul>
          <div class="mt-16">
            <button (click)="handleProPlanClick()" class="buy-button min-w-full">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <h3 class="text-xl text-center font-bold mt-4 uppercase">Enterprise</h3>
        <div class="p-4">
          <h4 class="text-lg font-semibold">What's Included:</h4>
          <ul>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              Increased processing power and speed
            </li>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              50 websites
            </li>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              100 GB storage
            </li>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              100 databases
            </li>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              Unmetered bandwidth
            </li>
            <li class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500" width="24" height="24" viewBox="0 0 24 24"
                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg>
              Daily Backups
            </li>
          </ul>
          <div class="mt-8">
            <button class="buy-button min-w-full">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
