.hero {
  min-height: 16rem;
  padding: 2rem;
  display: flex;
  @apply bg-gray-900;
}

.hero > div {
  margin: auto;
}

.pricing {
  padding: 2rem;
}

.pricing-plans {
  display: flex;
}

.pricing-plans .internal-wrapper {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.pricing-plans .col {
  min-width: 20rem;
  height: 28rem;
  max-height: 28rem;
  @apply bg-white shadow border-gray-50;
}

.pricing-plans .col-2 {
  min-height: 34rem;
  @apply shadow-lg z-10;
}

.pricing-plans .col-3 {
  @apply mt-12;
}

// Small elements

.pricing-badge {
  @apply border-gray-800 border-x-4 p-4;
}

.yellow-pricing-badge {
  @apply bg-yellow-400;
}

.green-pricing-badge {
  @apply bg-green-400;
}

li {
  @apply my-4;
}


.buy-button {
  @apply inline-flex items-center justify-center whitespace-nowrap border-2 bg-transparent border-gray-600 px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-800 hover:text-gray-50
}

