.hero {
  background-color: aqua;
  min-height: 16rem;
  padding: 2rem;
  display: flex;
}

.hero > div {
  margin: auto;
}

.pricing {
  background-color: lightgray;
  padding: 2rem;
}

.pricing-plans {
  display: flex;
}

.pricing-plans .internal-wrapper {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.pricing-plans .col {
  min-width: 20rem;
  min-height: 40rem;
}

.pricing-plans .col-1 {
  background-color: yellow;
  @apply mt-12;
}

.pricing-plans .col-2 {
  background-color: dodgerblue;
  @apply shadow-lg;
}

.pricing-plans .col-3 {
  background-color: lightcoral;
  @apply mt-12
}

/* Small elements */

li {
  @apply my-4;
}