.hero {
  min-height: 16rem;
  padding: 2rem;
  display: flex;
  @apply bg-gray-900;
}

.hero > div {
  margin: auto;
}

.pricing {
  padding: 2rem;
}

.pricing-plans {
  display: flex;
}

.pricing-plans .internal-wrapper {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.pricing-plans .col {
  min-width: 20rem;
  height: 28rem;
  max-height: 28rem;
  @apply bg-white shadow border-gray-50;
}

.pricing-plans .col-1 {
  @apply mt-12 bg-white shadow;
}

.pricing-plans .col-2 {
  min-height: 34rem;
  @apply shadow-lg z-10;
}

.pricing-plans .col-3 {
  @apply mt-12
}

/* Small elements */

li {
  @apply my-4;
}